:root {
    --primary-color: #00FF00;
    --accent-color: #FF0000;
    --background-color: white;
    --primary-color1: #00FF00;
    --accent-color1: #FF0000;
    --background-color1: white;
    --primary-color2: #00FF00;
    --accent-color2: #FF0000;
    --background-color2: white;
    --primary-color3: #00FF00;
    --accent-color3: #FF0000;
    --background-color3: white;
    --primary-color4: #00FF00;
    --accent-color4: #FF0000;
    --background-color4: white;
    --primary-color5: #00FF00;
    --accent-color5: #FF0000;
    --background-color5: white;
}