@import 'colors.css';

:root {
    --spacer: 12px;
    --spacer1: 12px;
    --spacer2: 12px;
    --spacer3: 12px;
    --spacer4: 12px;
    --spacer5: 12px;
    --spacer6: 12px;
    --spacer7: 12px;
    --spacer8: 12px;
    --spacer11: 12px;
    --spacer21: 12px;
    --spacer31: 12px;
    --spacer41: 12px;
    --spacer51: 12px;
    --spacer61: 12px;
    --spacer71: 12px;
    --spacer81: 12px;
    --spacer12: 12px;
    --spacer22: 12px;
    --spacer32: 12px;
    --spacer42: 12px;
    --spacer52: 12px;
    --spacer62: 12px;
    --spacer72: 12px;
    --spacer82: 12px;
    --spacer13: 12px;
    --spacer23: 12px;
    --spacer33: 12px;
    --spacer43: 12px;
    --spacer53: 12px;
    --spacer63: 12px;
    --spacer73: 12px;
    --spacer83: 12px;
    --spacer: 12px;
    --spacer1: 12px;
    --spacer2: 12px;
    --spacer3: 12px;
    --spacer4: 12px;
    --spacer5: 12px;
    --spacer6: 12px;
    --spacer7: 12px;
    --spacer8: 12px;
    --spacer11: 12px;
    --spacer21: 12px;
    --spacer31: 12px;
    --spacer41: 12px;
    --spacer51: 12px;
    --spacer61: 12px;
    --spacer71: 12px;
    --spacer81: 12px;
    --spacer12: 12px;
    --spacer22: 12px;
    --spacer32: 12px;
    --spacer42: 12px;
    --spacer52: 12px;
    --spacer62: 12px;
    --spacer72: 12px;
    --spacer82: 12px;
    --spacer13: 12px;
    --spacer23: 12px;
    --spacer33: 12px;
    --spacer43: 12px;
    --spacer53: 12px;
    --spacer63: 12px;
    --spacer73: 12px;
    --spacer83: 12px;
    --spacer: 12px;
    --spacer1: 12px;
    --spacer2: 12px;
    --spacer3: 12px;
    --spacer4: 12px;
    --spacer5: 12px;
    --spacer6: 12px;
    --spacer7: 12px;
    --spacer8: 12px;
    --spacer11: 12px;
    --spacer21: 12px;
    --spacer31: 12px;
    --spacer41: 12px;
    --spacer51: 12px;
    --spacer61: 12px;
    --spacer71: 12px;
    --spacer81: 12px;
    --spacer12: 12px;
    --spacer22: 12px;
    --spacer32: 12px;
    --spacer42: 12px;
    --spacer52: 12px;
    --spacer62: 12px;
    --spacer72: 12px;
    --spacer82: 12px;
    --spacer13: 12px;
    --spacer23: 12px;
    --spacer33: 12px;
    --spacer43: 12px;
    --spacer53: 12px;
    --spacer63: 12px;
    --spacer73: 12px;
    --spacer83: 12px;
    --spacer: 12px;
    --spacer1: 12px;
    --spacer2: 12px;
    --spacer3: 12px;
    --spacer4: 12px;
    --spacer5: 12px;
    --spacer6: 12px;
    --spacer7: 12px;
    --spacer8: 12px;
    --spacer11: 12px;
    --spacer21: 12px;
    --spacer31: 12px;
    --spacer41: 12px;
    --spacer51: 12px;
    --spacer61: 12px;
    --spacer71: 12px;
    --spacer81: 12px;
    --spacer12: 12px;
    --spacer22: 12px;
    --spacer32: 12px;
    --spacer42: 12px;
    --spacer52: 12px;
    --spacer62: 12px;
    --spacer72: 12px;
    --spacer82: 12px;
    --spacer13: 12px;
    --spacer23: 12px;
    --spacer33: 12px;
    --spacer43: 12px;
    --spacer53: 12px;
    --spacer63: 12px;
    --spacer73: 12px;
    --spacer83: 12px;
    --spacer: 12px;
    --spacer1: 12px;
    --spacer2: 12px;
    --spacer3: 12px;
    --spacer4: 12px;
    --spacer5: 12px;
    --spacer6: 12px;
    --spacer7: 12px;
    --spacer8: 12px;
    --spacer11: 12px;
    --spacer21: 12px;
    --spacer31: 12px;
    --spacer41: 12px;
    --spacer51: 12px;
    --spacer61: 12px;
    --spacer71: 12px;
    --spacer81: 12px;
    --spacer12: 12px;
    --spacer22: 12px;
    --spacer32: 12px;
    --spacer42: 12px;
    --spacer52: 12px;
    --spacer62: 12px;
    --spacer72: 12px;
    --spacer82: 12px;
    --spacer13: 12px;
    --spacer23: 12px;
    --spacer33: 12px;
    --spacer43: 12px;
    --spacer53: 12px;
    --spacer63: 12px;
    --spacer73: 12px;
    --spacer83: 12px;
    --spacer: 12px;
    --spacer1: 12px;
    --spacer2: 12px;
    --spacer3: 12px;
    --spacer4: 12px;
    --spacer5: 12px;
    --spacer6: 12px;
    --spacer7: 12px;
    --spacer8: 12px;
    --spacer11: 12px;
    --spacer21: 12px;
    --spacer31: 12px;
    --spacer41: 12px;
    --spacer51: 12px;
    --spacer61: 12px;
    --spacer71: 12px;
    --spacer81: 12px;
    --spacer12: 12px;
    --spacer22: 12px;
    --spacer32: 12px;
    --spacer42: 12px;
    --spacer52: 12px;
    --spacer62: 12px;
    --spacer72: 12px;
    --spacer82: 12px;
    --spacer13: 12px;
    --spacer23: 12px;
    --spacer33: 12px;
    --spacer43: 12px;
    --spacer53: 12px;
    --spacer63: 12px;
    --spacer73: 12px;
    --spacer83: 12px;
}